<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"> 
    <title>js lab</title>

    <script src="libbf.js/libbf.js"></script>
    <script src="libbf.js/bf.js"></script>
    <script>
      bfjs.gc_ele_limit=100;  
    </script>    

    <script src="https://unpkg.com/mathjs@9.4.3/lib/browser/math.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/nicolaspanel/numjs@0.16.0/dist/numjs.min.js" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/pyodide/v0.17.0/full/pyodide.js" defer="defer"></script>


    <!--script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script-->
    <!--script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"  defer="defer"></script-->
    <script>
      MathJax = {
        tex: {
          inlineMath: []
        },
        svg: {
          fontCache: 'global'
        }
      };
    </script>
    <script src="tex-svg.js" defer="defer" ></script>

    <!--script src="https://cdn.plot.ly/plotly-2.2.0.min.js"></script-->
    <script src="plotly-2.2.0.min.js"></script>
    

    <!-- v6 <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script> -->
    <script src="babel.min.js"></script>
    <script>module={};</script>
    <script src="bpo.js"></script>
    <script>Babel.registerPlugin("bpo", module.exports);</script>

    <script src="box.js?t=20210726"></script>

    
    <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" crossorigin="anonymous"-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!--script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script-->

    <!--link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" crossorigin="anonymous"-->

    <!--link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-plus/lib/index.full.js"></script-->

      
    <link rel="stylesheet" href="codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="codemirror/addon/hint/show-hint.css">
    <script src="codemirror/lib/codemirror.js"></script>
    <script src="codemirror/addon/hint/show-hint.js"></script>
    <script src="codemirror/addon/hint/javascript-hint.js"></script>
    <script src="codemirror/mode/javascript/javascript.js"></script>
    <script src="codemirror/mode/markdown/markdown.js"></script>    
    <script src="codemirror/addon/edit/closebrackets.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--script src="https://unpkg.com/vue@next"></script-->
    <script src="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"></script>  




  <style>
    body{
      margin:0;
    }
    .clearfix:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

    .toolbar{
      position:fixed;
      width:100vw;
      overflow:auto;
      /*height:30px;*/
      z-index: 99999;
      background-color:aliceblue;
      opacity: 0.8;
    }
    /*not used*/
    .toolbar-wrapper{
      position:fixed;
      width:100vw;
      z-index: 99999;
    }
    @media print { 
      .toolbar{
        display: none;
      }
    }
    .toolbarspace{
      width:100%;
      height:40px;
    }
    .toolbar button{
      float:left;
      margin:2px 2px;
      padding:3px 5px;
      width:50px;
    }
    .CodeMirror {
      border: 1px solid #eee;
      height: auto;
    }
    .codeblock{
      margin-top: 20px;     
      position:relative; 
    }
    .codeinfo{
      width:60px;
      float:left;
      text-align: right;
      min-height: 1px;
    }
    .codeinfo .selected{
      font-weight: bold;
    }
    .codecontent{
      width:calc( 100% - 80px );
      float:left;
      position: relative;
    }
    .coderesult{
      width:calc( 100% - 80px );
      float:left;
      position: relative;
      word-wrap:break-word;
    }
   
    control {
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 25;
    }

    .selected-ind{
      width:5px !important;
      float:left;
      background-color: #aaf;
      border-radius: 3cm;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      visibility :hidden;
    }
    .selected-ind.selected{
      visibility:visible;
    }



  @media screen and (orientation : landscape){
    .plot{
      width:45%;
      height:300px;       
      display: inline-block;
    }
    .latex{
      display: inline-block;
    }
  }


  @media screen and (orientation : portrait){
    .codeinfo{
      text-align: left;
      padding-left:20px;
    }
    .plot{
      width:100%;
      height:450px; 
      display: inline-block;
    }
    .latex{
      width:100%;
      display: inline-block;
    }
    .codecontent{
      width:calc( 100% - 10px );
      float:right;
    }
    .coderesult{
      width:calc( 100% - 10px );
      float:right;
    }
    .coderesult{
      overflow: scroll;
    }
   
  }



  </style>
  <script>

  </script>
</head>
<body>
<div id="app" style='width:100%;'>
    <div class='toolbar-wrapper'>
    <!--div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <a href="javascript:void()" class="pure-menu-link">File</a>
          <button class="pure-menu-link">File</button>
          <ul class="pure-menu-children">
            <li class="pure-menu-item">
              <a href="javascript:void()" class="pure-menu-link" @click="this.saveBlock()">Save&s</a>
            </li>
            <li class="pure-menu-item">
              <a href="javascript:void()" class="pure-menu-link" @click="this.loadBlock()">Load</a>
            </li>
            <li class="pure-menu-item">
              <a href="javascript:void()" class="pure-menu-link" @click="this.exportBlock()">Export</a>
            </li>
          </ul>
        </li>
        <li class="pure-menu-item">
          <a href="javascript:void()" class="pure-menu-link" @click="this.evalCode()">Run&r</a>
        </li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <a href="javascript:void()" class="pure-menu-link">Edit</a>
          <ul class="pure-menu-children">
            <li class="pure-menu-item">
              <a href="javascript:void()" class="pure-menu-link" @click="this.runAll()">Run All</a>
            </li>
            <li class="pure-menu-item">
              <a href="javascript:void()" class="pure-menu-link" @click="this.addblock()">Add&n</a>
            </li>
            <li class="pure-menu-item">
              <a href="javascript:void()" class="pure-menu-link" @click="this.insertBlock()">Insert</a>
            </li>
            <li class="pure-menu-item">
              <a href="javascript:void()" class="pure-menu-link" @click="this.deleteBlock()">Delete</a>
            </li>
            <li class="pure-menu-item">
              <a href="javascript:void()" class="pure-menu-link" :disabled="this.lastDeleted==null" @click="this.unDeleteBlock()">Undo Delete</a>
            </li>
          </ul>
        </li>
        <li class="pure-menu-item">
          <a href="javascript:void()" class="pure-menu-link" @click="this.loadHelp()">Help</a>
        </li>         
      </ul>
    </div-->
  </div>
    <div class="toolbar">
      <button @click="this.newFile()"  title="New">New</button> 
      <button @click="this.openFile()" title="Open">Open</button>
      <button @click="this.saveBlock()"  title="Save Ctrl+s">Save</button>      
      <button @click="this.loadBlock()" title="Load">Load</button>      
      <button @click="this.exportBlock()" title="Export"><i class="bi-arrow-bar-right" role="img" aria-label="Export" ></i></button>
      <button @click="this.evalCode()" title="Run"><i class="bi-caret-right" role="img" aria-label="Run"></i></button>
      <button @click="this.runAll()" title="RunAll"><i class="bi-skip-forward" role="img" aria-label="RunAll"></i></button>
      <button @click="this.addblock()" title="Add &n">Add</button>
      <button @click="this.insertBlock()" title="Insert">Insert</button>
      <button @click="this.deleteBlock()" title="Delete"><i class="bi-eraser" role="img" aria-label="Delete"></i></button>
      <button :disabled="this.lastDeleted==null" @click="this.unDeleteBlock()" title="UnDel"><i class="bi-arrow-bar-up" role="img" aria-label="UnDel"></i></button> 
      <button @click="this.loadHelp()" title="Help">Help</button>      
    </div>
    <input type="file" ref="file" id="file" style="display: none">
    <div class="toolbarspace"></div>
    <div class="clearfix"></div>

    <div v-for="(block,index) in blocks" class="codeblock" :key="block.uuid">
      <div class="selected-ind"  :class="{selected:index==selectedIndex}">&nbsp;</div>
      <div class="codeinfo">
        In[{{block.eindex==-1?'&nbsp;':block.eindex}}]:
      </div>
      <div class="codecontent">
        <codemirror v-model:code="block.code" @focus="selectedIndex=index" :update-ind="updateInd"  ></codemirror>
      </div>
      <div class="codeinfo">
      </div>
      <code-result :html="block.result" :script="block.resultScript"></code-result>
      <div class="clearfix"></div>
    </div>
</div>
  
<script>
const App = {
  components: {
  },
  data(){
    let blocks=[];
    return {
      blocks,      
      lastDeleted:null,      
      selectedIndex:0,
      maxIndex:0,
      maxeIndex:0,
      filename:'',
      lastRun:null,

      updateInd:0,
      plotdiv:0,
      uuid_pos:0,
    };
  },
  watch: {
    filename(newvalue){
      document.title=`js lab [${newvalue}]`;
    }
  },
  computed: {
    selected(){
      if(this.selectedIndex<this.blocks.length)return this.blocks[this.selectedIndex];      
      return null;     
    }   
  },
  created(){
  },
  mounted() {
    if(!this.loadBlock()){
      this.addblock();
    }    
    document.addEventListener("keydown",keydown);
    let that=this;
    function keydown(event){
        if(event.keyCode== 'R'.charCodeAt(0) && event.ctrlKey/*121f10+ctrl*/){//
            event.preventDefault();  
            that.evalCode();
        }
        if(event.keyCode==83 && event.ctrlKey/*S+ctrl*/){
            event.preventDefault();   
            that.saveBlock();
        }
    }
  },
  methods:{    
    updatecmeditor(){
      ++this.updateInd;
    },
    serialize(cb){
      this.updatecmeditor();
      this.$nextTick(()=>
      { 
        let tosave={
          blocks:this.$data.blocks, 
          maxIndex:this.$data.maxIndex,
          maxeIndex:this.$data.maxeIndex,
          lastRun:this.$data.lastRun,
          version:0.2,
        };
        let cnt=JSON.stringify(tosave);
        cb(cnt);
      });
    },
    clearAll(){     
      Object.assign(this.$data, this.$options.data());
    },
    newFile(){
      let filename=prompt('Input file name','new.json');
      if(!filename)return;
      this.clearAll();
      this.$data.filename=filename;
      this.addblock();
    },
    openFile(){
      let files=[];
      for(let n=0;n<localStorage.length;++n){
        let f=localStorage.key(n);
        if(f.startsWith('blocks_')){
          files.push(f.substr(7));
        }
      }
      let str="";
      for(let n=0;n<files.length;++n){
        let s=`${n}:${files[n]}`;
        while(s.length<20)s+=' ';
        str+=s;
      }
      let index=prompt("input the file index you want to open\r\n"+str,'');
      if(index==undefined)return;
      index=parseInt(index);
      if(!isNaN(index)&&index<files.length){
        this.loadBlock(files[index]);
      }
    },
    saveBlock(){
      if(typeof(Storage)!=="undefined")        
      {
        this.serialize(cnt=>localStorage['blocks_'+this.filename]=cnt);
        localStorage['lastblocks']=this.filename;
      }
    },
    exportBlock(){
      this.serialize(cnt=>
      {
        var mimeType = 'text/plain';
	      document.getElementById('createInvote').href= 'data:' + mimeType  +  ';charset=utf-8,' + encodeURIComponent(cnt);
	      document.getElementById('createInvote').click();
      });
    },
    loadData(filename,data){
      this.clearAll();
      this.filename=filename;
      this.$data.blocks=[];
      if(data.version && data.version==0.2){
        this.$data.blocks=data.blocks;
        for(let b of this.$data.blocks){
          //if(!('uuid' in b)){//should always change uuid for VUE to work
            b['uuid']=new Date().getTime()+'-'+this.uuid_pos++;
          //}
        }
        this.$data.maxIndex=data.maxIndex;
        this.$data.maxeIndex=data.maxeIndex;
        this.$data.lastRun=data.lastRun;
      }else{//old storage format
        this.$data.blocks=data;
      }
    },
    loadBlock(name){
      if(typeof(Storage)!=="undefined")        
      {       
        if(!name){
          if(localStorage['lastblocks']){
            name=localStorage['lastblocks'];
          }else{
            name='last';
          }
        }        
        if(localStorage['blocks_'+name]){          
          let data=JSON.parse(localStorage['blocks_'+name]);          
          this.loadData(name,data);
          return true;
        }
      }
      return false;
    },
    loadHelp(){
      let that=this;
      axios.get('help.json')
      .then(function (response) {        
        console.log(response);
        that.loadData('help.json',response.data);
      })
      .catch(function (error) {
        alert('error!'+error);
        console.log(error);
      })
      .then(function () {        
      });
    },
    evalCode(){      
      this.updatecmeditor();
      this.saveBlock();
      let cur=this.selected;
      let that=this;
      cur.eindex='*';
      setTimeout(async()=>{
        try{
          cur.result='';
          cur.resultScript='';
          let evalresult=box.runcode(cur.code);
          if(evalresult instanceof Promise){            
            evalresult=await evalresult;
          }
          if(evalresult!=undefined){
            cur.result+=String(evalresult);
          }
        }catch(e){
          cur.result+='<pre>'+"name: " + e.name + "\nmessage: " + e.message + "\nstack: " + e.stack+'</pre>';
          //throw e;
        }
        cur.eindex=this.maxeIndex++;
        this.saveBlock();
        
      },1);
    },
    runAll(){      
      this.updatecmeditor();
      this.saveBlock();
      this.maxeIndex=0;      
      let that=this;
      let i=0;
      let next=()=>{
        let cur=this.blocks[i];
        this.selectedIndex=i;
        cur.eindex='*';
        setTimeout(async ()=>{
          try{
            cur.result='';
            cur.resultScript='';
            let evalresult=box.runcode(cur.code);
            if(evalresult instanceof Promise){            
              evalresult=await evalresult;
            }
            if(evalresult!=undefined){
              cur.result+=String(evalresult);
            }
          }catch(e){
            cur.result+='<pre>'+"name: " + e.name + "\nmessage: " + e.message + "\nstack: " + e.stack+'</pre>';
            //throw e;
          }
          cur.eindex=this.maxeIndex++;
          ++i;
          if(i<this.blocks.length){            
            setTimeout(next,0);
          }else{
            this.saveBlock();
          }
        },1);
      }
      next();      
    },
    addblock(icode=""){
      this.blocks.push({
        eindex:-1,
        code:icode,
        result:null,
        resultScript:'',
        uuid:new Date().getTime()+'-'+this.uuid_pos++,
      });
      this.selectedIndex=this.blocks.length-1;
      //++this.maxIndex;
    },
    insertBlock(){
      if(this.selectedIndex<this.blocks.length){
        this.blocks.splice(this.selectedIndex,0,{
          eindex:-1,
          code:"",
          result:null,
          resultScript:'',
          uuid:new Date().getTime()+'-'+this.uuid_pos++,
        });
        //++this.maxIndex;
      }
    },
    deleteBlock(){
      if(this.selectedIndex<this.blocks.length){
        let deleted=this.blocks.splice(this.selectedIndex,1)[0];
        this.lastDeleted={val:deleted,pos:this.selectedIndex};
        if(this.selectedIndex>0){
          this.selectedIndex==this.selectedIndex-1;
        }
      }
      if(this.blocks.length<=0){
        this.addblock();
      }
    },
    unDeleteBlock(){
      if(this.lastDeleted!=null){
        this.blocks.splice(this.lastDeleted.pos,0,this.lastDeleted.val);
        this.lastDeleted=null;
      }
    },
  }
};
const myapp=Vue.createApp(App);


myapp.component('codemirror', {
  props: ['code','updateInd'],
  data: function () {
    return {
     
    }
  },
  components: {
  },
  template: `
      <textarea ref="codeinput" class="codehighlight" v-model='code'>        
      </textarea>
      `,
  computed: {   
  },
  methods: {  
    updateValue(){
      if(!!this.editor){
        this.$emit('update:code', this.editor.getValue());
      }      
    }
  },
  watch:{
    updateInd(){
      this.updateValue();
    }
  },
  mounted(){
    let that=this;
    this.editor = CodeMirror.fromTextArea(this.$refs.codeinput, {
      lineNumbers: true,
      extraKeys: {"": "autocomplete"},
      mode: {name: "javascript", globalVars: true},
      autoCloseTags: true,
      viewportMargin: Infinity, 
      autoCloseBrackets: true,
    });

    this.editor.on("focus",function(){
      that.$emit('focus');
      });

    this.editor.on("blur" ,function (){
      that.$emit('blur');
      });

    /*this.editor.on("keyup", function (cm, event) {
        if (!cm.state.completionActive &&!(event.ctrlKey)){ //Enables keyboard navigation in autocomplete list  
          if(
            (event.keyCode >= 65 && event.keyCode <= 90) || (event.keyCode >= 47 && event.keyCode <= 57 && !event.shiftKey)
            )            
            {       ///Enter - do not open autocomplete list just after item has been selected in it
                    CodeMirror.commands.autocomplete(cm, null, {completeSingle: false});
                }
         }
    });*/
    this.changeregex=new RegExp(/[a-z\.]+/, 'i');
    this.editor.on("change", function (cm,changeObj) {
        //console.log(changeObj);
        if(!cm.state.completionActive && changeObj.origin== "+input" && changeObj.text[0].match(that.changeregex)){
            CodeMirror.commands.autocomplete(cm, null, {completeSingle: false});
        }
    });
  },
  beforeUnmount() {
  }
});


myapp.component('codeResult', {
  props: ['html','script'],
  data: function () {
    return {
      timer:0,
      key:0,
    }
  },
  components: {
  },
  template: `
      <div class="coderesult" :key='key'>
        <span v-html="html"></span>
      </div>
      `,
  computed: {   
  },
  methods: {  
    update(){
      if(this.timer!=0){
        //clearTimeout(this.timer);
        return;
      }
      let that=this;
      function doUpdate(){
        that.timer=0;
        //not needed
        //that.key=(new Date().getTime() + (Math.random() * 10000)).toFixed(0);
        setTimeout(()=>eval(that.script),0);
      }

      this.timer=setTimeout(doUpdate,1);
      
    }
  },
  watch:{
    script(){
      this.update();
    }
  },
  mounted(){
    this.update();
  },
  beforeUnmount() {
  }
});


vm=myapp.mount("#app");

</script>




<div id="footer" style='width:100%;text-align: center;color:gainsboro;font-size: xx-small;margin-top: 50px;'>
  <a href="https://github.com/kikoqiu" target="_blank">copyright © 2021-2021 kikoqiu@163.com</a> 
</div>
<a onfocus="this.blur();" download="blocks.json" id="createInvote" style='display:none;' >code</a>
</body>
</html>
